/*images des cards*/

.card-img-top
{ 
opacity: 0.50;  
 }
 .name
 {
 position: absolute;
 margin-top: 50%;
 align-self: center;
font-size: 3em;
color: white;
 }
 .dead
 {
 position: absolute;
 margin-top: 50%;
 align-self: center;
font-size: 3em;
color: red;
 }
 .card-text
 {
 position: absolute;
 margin-top: 5%;
 align-self: center;
 background: white;
 font-size: 1.3em;
 border: solid white 1px;
 border-radius: 20px;
 }
 .card-text-dead
 {
 opacity: 0;
  }
 .reward
 {
 	color: orange;
 }
 .card-text2
 {
 	margin-top: 10%;
 	text-align: center;
 }
 .card-text3
 {
 	
 	text-align: center;
 }
.card:hover .card-img-top
{
  opacity: 1;
}
.card:hover .name
{
align-self: center;
 margin-top: 80%;
font-size: 1.8em;
}
.card:hover .card-text
{
	opacity: 0;
}

/* ring */
.case-responsive
{
border-top: solid black 1px;
}
.case
{
	border: solid black 1px;
	text-align: center;
}
.firstRow
{
background-color: #999999 !important;
color: black;
}
.gollum
{
color: lightgray;
text-align: right;
}
/*reward*/
.container
{
	max-width: 100%;
	max-height: 50%;
}
.col-1
{
	margin: auto;
}
.bouton-cotact
{ 
margin-left: 45%;
margin-right: auto;
}
/*army*/
.btn
{
	margin-left: 40%;
	background-color: white !important;
	border: dotted gray 1px !important;
	color: black !important;
}
/*footer*/
.col-6
{
margin-top: 2%;
}